<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.workbook.gmall.manage.mapper.AttrValueMapper">
    <insert id="insertAttrValue" parameterType="com.workbook.gmall.entity.PmsBaseAttrValue" useGeneratedKeys="true"
            keyColumn="id" keyProperty="id">
        INSERT INTO
        pms_base_attr_value(id, value_name, attr_id, is_enabled)
        VALUE (#{id}, #{valueName}, #{attrId}, #{isEnabled})
    </insert>

    <select id="selectAttrValueById"  resultType="com.workbook.gmall.entity.PmsBaseAttrValue">
        SELECT * FROM pms_base_attr_value WHERE attr_id = #{attrId}
    </select>

    <delete id="delete">
        delete from pms_base_attr_value where attr_id = #{attrId}
    </delete>
</mapper>