<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.workbook.gmall.manage.mapper.AttrInfoMapper">
    <select id="selectInfoListById" resultType="com.workbook.gmall.entity.PmsBaseAttrInfo">
        SELECT t.* FROM  pms_base_attr_info t WHERE t.catalog3_id = #{catalog3Id}
    </select>

    <insert id="insertAttrInfo" parameterType="com.workbook.gmall.entity.PmsBaseAttrInfo" useGeneratedKeys="true"
        keyColumn="id" keyProperty="id">
        INSERT INTO
        pms_base_attr_info(id, attr_name, catalog3_id, is_enabled)
        VALUE (#{id}, #{attrName}, #{catalog3Id}, #{isEnabled})
    </insert>

    <update id="updataAttrInfo" parameterType="com.workbook.gmall.entity.PmsBaseAttrInfo" useGeneratedKeys="true">
        update pms_base_attr_info
        <set>
            <if test="attrName != null">attr_name=#{attrName}</if>
        </set>
        where id=#{id}
    </update>
</mapper>