<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.workbook.gmall.manage.mapper.Catalog2Mapper">
    <select id="selectById" resultType="com.workbook.gmall.entity.PmsBaseCatalog2">
        SELECT t.* FROM  pms_base_catalog2 t WHERE t.catalog1_id = #{catalog1_id}
    </select>
</mapper>