<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.workbook.gmall.manage.mapper.Catalog3Mapper">
    <select id="selectById" resultType="com.workbook.gmall.entity.PmsBaseCatalog3">
        SELECT t.* FROM  pms_base_catalog3 t WHERE t.catalog2_id = #{catalog2Id}
    </select>
</mapper>